header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	width: 100%;
	/*border-bottom: 1px solid lightgrey;*/
	background-color:black;
	
}

.homeContainer{
	padding-top:5vh;
}


header div {
	height: auto;
	width: 100%;
}

header img {
	height:auto;
	width:90vw;

}

section {
	padding-top:1.5rem;
	padding-bottom:2rem;
}


.introText p{
	line-height: 1.2;
	margin:1rem 1.2rem 1rem 1.2rem;
}
.introText p:nth-of-type(2n) {
	margin-top:0;
}

.arrow{
	display:none!important;
}

.hide {
	display:none!important;
}

@media screen and (min-width: 768px) {
	
	
	.introText p{
		margin-left:25%;
		margin-right:25%;
		margin-top:3vh;
	}
	.introText p:nth-of-type(2n) {
		margin-top:0;
		margin-left:25%;
		margin-right:25%;
	  }
}


@media screen and (min-width: 992px) {
	.homeContainer{
		height:60vh;
		padding-top:0;
		justify-content: flex-end;
	}

header img {
	/*height:65vh;*/
	width:80vw;
	
}

.introText p{
	margin-left:33%;
	margin-right:33%;
	margin-top:0vh;
}

.introText p:nth-of-type(2n) {
	margin-top:0;
	padding-bottom: 2rem;
	margin-left:33%;
	margin-right:33%;
  }


}


@media screen and (min-width: 1200px) {
	.homeContainer{
		height:86vh;
	}
	header img {
		/*height:65vh;*/
		width:50vw;
		
		
	}
	.arrow{
		display:flex!important;
		color:white;
		animation: blink 2s linear infinite;
		
	}
	.hide{
		display:flex!important;
	}
}
@media screen and (min-width: 1920px) {
	header img {
		width:45vw;
		
	}
}

@media screen and (min-width: 2560px) {
	header img {
		width:50vw;
		
	}
	.introText p{
		margin-left:37%;
		margin-right:37%;
	}
	
	.introText p:nth-of-type(2n) {
		margin-left:37%;
		margin-right:37%;
	  }
}
@keyframes blink{
	50%{opacity: 0;}
	80%{opacity: .2;}
	100%{opacity: .6;}
	80%{opacity: .2;}
	50%{opacity: 0;}
	}