.wrapper {
    max-width: 60vw;
    margin: 5vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
  }
.wrapper-images{
  padding:0.1rem;
}
  .wrapper img{
    width:95vw;
  }

@media screen and (min-width: 768px) {

  .wrapper-images{
    padding-left:0.2rem;
    padding-bottom:0;
   }
  .wrapper img{
    width:20vw;
  }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(10 10 10 / 54%);
    display: flex;
    align-items: center;
    z-index:9999;
  }
  .overlay img {
    display: block;
    width:50vw;
    margin: 60px auto;
  }
  .overlay > span {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 30px;
    color:rgb(70, 62, 62);
    z-index: 999;
    cursor: pointer;
    margin:2rem 2rem;
    font-size: calc(1vw + 1vh + 1vmin);
  }
  .overlay-arrows_left {
    display: flex;
    background-color: transparent;
    color:rgb(70, 62, 62);
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 5vw;
    height:5vh;
    left: 0;
    z-index: 999;
    margin-left:2rem;
    cursor: pointer;
  }
  
  .overlay-arrows_left svg {
    width: 5vw;
    height: 5vh;
  }
  
  .overlay-arrows_right svg {
    width: 5vw;
    height: 5vh;
  }
  
  .overlay-arrows_right {
    display: flex;
    background-color: transparent;
    color:rgb(70, 62, 62);
    justify-content: space-between;
    position: absolute;
    right: 0;
    width: 5vw;
    height: 5vh;
    top: 50%;
    z-index: 999;
    margin-right:2rem;
    cursor: pointer;
  }
}
  

 